body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8ebed;
    overflow: auto;
}

header{
    background-color: #d24568  ;
    padding: 10px;
    
}
.playlist-header{
    display: flex;
    justify-content: space-between;
}

.playlist-header-link{
    display: flex;
    justify-content: space-around;
}

.playlist-header-link p{
    margin-top: 23px;
    padding: 10px;

}

.playlist-header-link a{
    text-decoration: none;
    color: black;
}

.playlist-header-link a:hover{
    color: #d6c2c6 ;
}
a.active{
    font-weight: bold;
    color: #d6c2c6 ;

}
.playlist-actions{
    background-color: #d24568;
    color: #d6c2c6 ;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-top: 0;
}
.playlist-actions h1{
    color: black;
    text-align: center;
}

label{
    color: black;
    font-weight: bolder;
}


.playlist-actions-input{
    border-radius: 10px;
    padding: 5px;
}
.search-icon{
    color: #d6c2c6 ;
    font-size: 20px;
}

.add-playlist{
   font-size: 35px;
   margin-left: 100px;
   margin-bottom: 0;
   
}
.change{
    align-self: center;
}
.No-playlists{
   text-align: center;
    padding: 180px;
}
select {
    border: 2px solid black;
    background: #eee;
    padding: 5px;
    border-radius: 10px;
    align-self: center;
    margin-top: 15px;
    transition: 0.4s;
}

select:hover,
select:focus {
    background: #ddd;
}

#form-submit{
    background-color: #d24568;
    padding: 15px;
}
.title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
}

#playlist-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    box-sizing: border-box;
    margin: 50px;
    width: 60;


}

.playlist-card{
    display: flex;
    flex-direction: column;
    width: 85%;
    overflow: auto;
    border-radius: 10px;
    background-color: #d24568;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
    content: contain;
}

.playlist-card-img{
    width: 100%;
    height: 65%;
    max-width: 100%;
    max-height: 100%;
   margin-bottom: 10px;
}


.playlist-card-title{
    font-style: bold;
    margin: 10px;
    padding: 0;
}

.playlist-card-creator{
    margin: 0;
    padding: 0;
}
.playlist-card h5{
    margin-left: 7px;
    margin-bottom: 3px;
    white-space: nowrap;
}
.playlist-card h4{
    margin-left: 7px;
    margin-top: 7px;
    margin-bottom: 7px;
    white-space: nowrap;
}
.Heart-icon{
    color: black;
    cursor: pointer;
    margin-left: 7px;
}

.Heart-icon.liked{
    color: black;
}
.card-likes{
    display: flex;
   position: relative;;
}
.edit{
    margin-left: 20px;
    position: absolute;
    right: 0;
    top: 0;
    
}
.card-likes p{
    margin: 0;

}
.form-body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
   
}
.new-songs{
    min-height: 200px;
}
.form-body input{
   height: 30px;
   border-radius: 5px;
}
.modal-overlay, .form{
    display: none; 
    position: fixed;
   justify-content: center;
   align-items: center;
   z-index: 1; 
   left: 0;
   top: 0;
   width: 100%; 
   height: 100%; 
   overflow: auto; 
   background-color: rgba(0,0,0,0.4); 
}

.modal-content, .form-content{
    display: none; 
    flex-direction: column;
    border-radius: 20px;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 45%; 
    height: 80%;
   background-color: #dad2d0;
   content: contain;
   overflow: auto;
}


.modal-head{
    display: flex;
    height: 20%;
    overflow: auto;
    margin-bottom: 10px;
}

.modal-head-text{
    display: flex;
    flex-direction: column;
}
#modal-name, #modal-creator{
    padding: 0;
    margin: 8px;
    white-space: nowrap;
}
.modal-body{
    
    overflow: auto;
}
.modal-song{
    border-radius: 5px;
    display: flex;
    margin-bottom: 10px;
    background-color: whitesmoke;
    align-items: center;
    
    
}
.modal-song-info p{
    margin: 3px;
    margin-left: 12px;
}
.modal-song-img{
    width: 16%;
    height: 100%;
    max-height: 100%;
   
    
}

.modal-song-duration{
    text-align: end;
    width: 100px;
    margin-left: auto;
    white-space: nowrap;
}
#button{
    background-color: #d24568 ;
    width: 78px;
    height: 25px;
    contain: content;
    margin: 5px;
    border-radius: 8px;
   margin-left: 0;
   margin-bottom: 10px;
}

.footer{
     background-color: #d24568 ;
     height: 50px;
     white-space: nowrap;
}
footer{
    flex: 1;
}

/* featured page style */
.featured{

    text-align: center;
    display: flex;
   
}
.featured-header{
    width: 60%;
}
.featured-card-img{
    margin: 20px;
    width: 70%;
    height: 40%;
}
.featured-song{
    display: flex;
    height: 10%;
    margin: 15px;
}

.featured-song-info p{
    margin: 0;
    text-align: justify;
}